<% let cover = post.photos && post.photos.length %>
<!--post.photos为一个数组，赋值给cover-->
<!--文章-->
<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <% if (is_post() || theme.home.style == 'detail') { %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="article-inner">
    <div class="article-main">
      <header class="article-header">
        <%- partial('post/title', {class_name: 'p-name article-title'}) %>
        <div class='meta-info-bar'>
          <%- partial('post/date', {class_name: 'meta-info', date_format: null}) %>
          <div class="need-seperator meta-info">
            <%- partial('post/category') %><!--tag-->
          </div>
          <div class="wordcount need-seperator meta-info">
            <%- symbolsCount(post) %> <%- __('words') %><!--获取文章中的文字数量，字数-->
          </div>
        </div>
        <%- partial('post/tag') %>
      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <% if (post.excerpt && index){ %><!--判断excerpt是否有值-->
          <%- post.excerpt %><!--摘要-->
        <% } else if (is_home() && !post.excerpt && theme.home.style != 'detail') { %><!--如果没有excerpt则渲染内容前500字-->
          <div class="truncate-text">
            <%- truncate(strip_html(post.content), {length: 500}) %><!--内容预览-->
          </div>
        <% } else { %>
          <%- post.content %><!--开启detail详细模式,并且没有设置摘要属性，显示全部内容-->
        <% } %>
      </div>

      <% if (theme.home.style == 'detail') { %><!--详细选项样式-->
        <footer class="article-footer">
          <% if(post.excerpt && index) { %><!--判断excerpt摘要属性是否存在-->
            <a href="<%- url_for(post.path) %>#more" class="article-more-link">
              <%= __('read_more') %><i class="fa-solid fa-angle-right"></i><!--阅览更多-->
            </a>
          <% } %>
        </footer>
      <% } %>
    </div>

    <% if (theme.home.style != 'detail' && is_home()) { %><!--普通选项样式-->
    <!--配置文件主题是否为detail详细，并且判断是否在页面中-->
    <a class="right-panel <% if (cover) { %> with-pic <% } else { %> non-pic <% } %> "
      <% if (cover) { %> style="background-image: url(<%- url_for(post.photos[0]) %>)" <% } %>
      href="<%- url_for(post.path) %>"
    ><!--构造文章url,生成一个有图片或无图片的选项卡，
    在开头会判断该数据是否为一个数组，获取数组第一个元素作为背景图片的url-->
      <% if (cover) { %><!--判断有没有封面，这里会添加进入箭头-->
      <div class="overlay">
        <i class="fa-solid fa-angle-right with-pic"></i>
      </div>
      <% } else { %><!--没有封面，直接插入箭头-->
      <i class="fa-solid fa-angle-right non-pic"></i>
      <% } %>
    </a>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %><!--导入组件-->
  <% } %>
</article>

<% if (!index && theme.comment.valine.enable) { %><!--评论系统,comment.valine.enable选项是否开启-->
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <div id="comment-card" class="comment-card">
    <div class="main-title-bar">
      <div class="main-title-dot"></div>
      <div class="main-title"><%= __('comment') %> </div><!--评论-->
    </div>
    <div id="vcomments"></div><!--导入评论系统-->
  </div>
  <script>
      new Valine({
          el: '#vcomments',
          appId: "<%= theme.comment.valine.appId %>",/*配置id*/
          appKey: "<%= theme.comment.valine.appKey %>"/*配置key*/
      })
  </script>
<% } %>
