<div class="widget-wrap"><!--介绍栏-->
  <div class="info-card">
    <div class="avatar">
      <% if (theme.avatar) { %>
        <image src=<%- url_for(theme.avatar) %>></image><!--头像-->
      <% } %>
      <div class="img-dim"></div>
    </div>
    <div class="info"><!--信息-->
      <div class="username"><%- theme.author || config.author %> </div><!--用户名-->
      <div class="dot"></div>
      <div class="subtitle"><%- theme.subtitle || config.subtitle %> </div><!--副标题，签名-->
      <div class="link-list">
        <% for(let item of theme.links) { %>
          <a class="link-btn" href="<%- item.url %>" title="<%- item.name %>"><i class="<%- item.icon %>"></i></a><!--链接-->
        <% } %>
      </div>
    </div>
  </div>
</div>
